#telaCadastro {
    -fx-background-color: #625D73;  /* JavaFX */
    
}
.logincadastro-txtfield {
    -fx-background-radius: 10;
    -fx-background-color: #3B364C; /* Define a cor de fundo */
    -fx-prompt-text-fill: white; 
}

.logincadastro-btn{
	-fx-background-radius: 10;
    -fx-background-color: #8651E3; /* Define a cor de fundo */
	 -fx-prompt-text-fill: white; 
}
.painel-central {
	-fx-max-height: 680px; /* largura máxima que você quer */
    -fx-max-width: 1200px; /* largura máxima que você quer */
    -fx-pref-width: 90%;   /* ocupar 90% da largura da tela */
    -fx-pref-height: 90%;  /* altura também pode ser relativa */
    -fx-background-color: transparent; /* ou qualquer cor de fundo */
}

